<template name="home">
    <div class="theme-dark" style="/*overflow: hidden;*/ height: 378px; background: transparent;">
        <div style="width: 100%; background: transparent !important; overflow:hidden" id="slider" class="nivoSlider">
            <img src="/images/slider/slide1.png" data-thumb="/images/slider/slide1.png" alt="" />
            <img src="/images/slider/toystory.jpg" data-thumb="/images/slider/toystory.jpg" alt="" />
            <img src="/images/slider/walle.jpg" data-thumb="/images/slider/walle.jpg" alt="" data-transition="slideInLeft" />
            <img src="/images/slider/nemo.jpg" data-thumb="/images/slider/nemo.jpg" alt="" title="#htmlcaption" />
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="http://google.com/">a link</a>.
        </div>
    </div>
    </div>

</template>